ServerCalculatorApplication/nbproject/
ServerCalculatorApplication/test/
ClientCalculatorApplication/nbproject/
ClientCalculatorApplication/test/
*.xml
*.mf
*.form
/ClientCalculatorApplication/build/
/ServerCalculatorApplication/build/