ServerCalculatorApplication/nbproject/
ServerCalculatorApplication/test/
ClientCalculatorApplication/nbproject/
ClientCalculatorApplication/test/
*.xml
*.mf
/ClientCalculatorApplication/build/
/ServerCalculatorApplication/build/